<div>
	<div class="col-md-offset-2 col-md-10">
		<div class="jumbotron" style="background:transparent; margin-top: 20px">
			<h1>Welcome to Pokemon Simulation!</h1>
	<ul>
		<li>Max: 2 Players</b></li>
		<li>3 Random Starting Pokemon (refresh if less)</li>
		<li>Walk to opponent to battle</li>
		<li>Fullscreen Desktop for best results!</li>
	</ul>
	<h3>Controls:</h3>
	<ul>
		<li>Up: W</li>
		<li>Left: A </li>
		<li>Down: S </li>
		<li>Right: D </li>
	</ul>
			<button class ="btn btn-link animated infinite pulse" ng-click ="game()"style="background:transparent;color:black; border: solid 5px red;width:400px;height:200px"class="btn btn-primary btn-lg"><span style="font-size:30px;font-weight:400;"><stong>PLAY</strong></span></button></a>
		</div>
	</div>
</div>
